.home {
	padding: 24px 0;

	.movies-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5rem;
		padding: 1.5rem 0;

		@media (min-width: 600px) {
			& {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		@media (min-width: 992px) {
			& {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		@media (min-width: 1200px) {
			& {
				grid-template-columns: repeat(5, 1fr);
			}
		}
	}


	.pagination-wrapper {
		display: flex;
		justify-content: center;
		margin-top: 32px;

		.pagination {
			display: flex;
			align-items: center;
			user-select: none;
			-webkit-user-select: none;

			.pagination-item {
				min-width: 32px;
				height: 32px;
				padding: 0 4px;
				margin-right: 8px;
				background-color: #1c1c1c;
				border: 1px solid #1c1c1c;
				border-radius: 4px;
				cursor: pointer;
				transition: all 0.3s;
				color: white;

				&:hover {
					border-color: #fff;
				}

				&:last-child {
					margin-right: 0;
				}

				&.active_page {
					display: none;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					color: inherit;
				}
			}
		}
	}
}